<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="~{admin/master ::master(~{::title}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Massenger</title>
</head>
<body>
    <section id="content">
        <div class="card">
            <div class="card-body">
                <form class="row g-3">
                    <div class="col-md-1">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="fas fa-paperclip"></i>
                        </button>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-paper-plane"></i> Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
